# Distribution / packaging
.Python
env/
/build/
/develop-eggs/
/downloads/
/eggs/
.eggs/
lib/
lib64/
parts/
sdist/
/var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.pyc
.project
/tmp/
/clients/web/index.html
/clients/ios/ios/Info.plist
/clients/android/app/build.gradle
/stream-steam.cfg
